.root {
  position: relative;
  display: block;
  padding: 12px 14px 18px;
  white-space: normal;
  outline-offset: -1px;
}

.root:focus-within {
  background: var(--vscode-settings-focusedRowBackground);
  outline: 1px solid var(--vscode-settings-focusedRowBorder);
}

.modified::before {
  display: block;
  content: ' ';
  position: absolute;
  width: 6px;
  border-left: 2px solid var(--vscode-settings-modifiedItemIndicator);
  left: 5px;
  top: 15px;
  bottom: 18px;
}

.control {
  margin-top: 9px;
  display: flex;
  width: 100%;
  min-width: 0;
}

.control > * {
  min-width: 0;
}

.helper {
  margin-top: 6px;
}

.fill .control > * {
  width: 100%;
  max-width: none;
}
