.container {
  position: relative;
}

.modified {
}

.contents {
  position: relative;
  padding: 12px 14px 18px;
  white-space: normal;
  outline-offset: -1px;
}

.container:hover .contents {
  background: var(--vscode-settings-rowHoverBackground);
}

.container:focus-within .contents {
  background: var(--vscode-settings-focusedRowBackground);
  outline: 1px solid var(--vscode-settings-focusedRowBorder);
}

.modifiedIndicator {
  display: none;
  position: absolute;
  width: 6px;
  border-left: 2px solid var(--vscode-settings-modifiedItemIndicator);
  left: 5px;
  top: 15px;
  bottom: 18px;
}

.modified .modifiedIndicator {
  display: block;
}

:global(.setting-item-bool).modified .modifiedIndicator,
:global(.setting-item-list).modified .modifiedIndicator {
  bottom: 23px;
}

.control {
  margin-top: 9px;
  display: flex;
  width: 100%;
  min-width: 0;
}

.controlInner {
  display: flex;
  width: 100%;
  min-width: 0;
}
